{% include "index/main_container/_container_open_and_header.html" %}
{% include "index/main_container/_collections_sidebar.html" %}
<div class="main-content">
{% include "index/main_container/_search_form_main_row.html" %}
{% include "index/main_container/_search_form_conditions.html" %}
{% include "index/main_container/_search_form_hidden_fields_and_close.html" %}
{% include "index/main_container/_results_and_loading.html" %}
</div><!-- /.main-content -->
</div><!-- /.container-flex -->
{% include "index/main_container/_container_view_panel.html" %}
{% include "index/main_container/_modal.html" %}
</main><!-- /.container -->
