  <!-- Thumbnail Generation Progress Bar -->
  <div id="thumbProgressBar" class="scan-progress-bar thumb-progress-bar">
    <div class="scan-progress-content">
      <div class="scan-progress-icon">🖼</div>
      <div class="scan-progress-info">
        <div class="scan-progress-text" id="thumbProgressText">Generating thumbnails...</div>
        <div class="scan-progress-details" id="thumbProgressDetails">0 / 0</div>
      </div>
      <div class="scan-progress-track">
        <div class="scan-progress-fill" id="thumbProgressFill" style="width: 0%"></div>
      </div>
      <div class="scan-progress-percent" id="thumbProgressPercent">0%</div>
    </div>
  </div>
