<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
  <title data-i18n="favorites.title">Favorites Manager</title>
  {% include "favorites_manager_parts/_style.html" %}
</head>
<body data-1p-ignore data-lpignore="true">
  {% include "_ext_nav.html" %}
  <main id="main-content">
  {% include "favorites_manager_parts/_grid.html" %}
  </main>
  {% include "favorites_manager_parts/_modal_and_toast.html" %}
  {% include "favorites_manager_parts/_shared_scripts.html" %}
  {% include "favorites_manager_parts/_script.html" %}
  {% include "favorites_manager_parts/_script_select.html" %}
  {% include "favorites_manager_parts/_script_lan_share.html" %}
</body>
</html>
