<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-i18n="wc_manager.page_title">Wildcard Manager</title>
  {% include "wc_manager_parts/_style.html" %}
  <link rel="stylesheet" href="/ext/syntax/style.css">
</head>
<body data-1p-ignore data-lpignore="true">
  {% include "_ext_nav.html" %}
  <main id="main-content">
  {% include "wc_manager_parts/_body.html" %}
  </main>
  <script nonce="{{ csp_nonce }}" src="/ext/syntax/engine.js"></script>
  <script nonce="{{ csp_nonce }}" src="/ext/syntax/widget.js"></script>
  <script nonce="{{ csp_nonce }}" src="/static/dir-picker-fallback.js"></script>
  <script nonce="{{ csp_nonce }}" type="module" src="/static/dist/power-vim-edit.js"></script>
  {% include "wc_manager_parts/_script.html" %}
  {% include "wc_manager_parts/_script_tree.html" %}
  {% include "wc_manager_parts/_script_actions.html" %}
  {% include "wc_manager_parts/_script_actions_replace.html" %}
  {% include "wc_manager_parts/_script_actions_nav.html" %}
</body>
</html>
